.container {
  background-color: rgb(14, 1, 17);
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

* {
  list-style: none;
  color: rgb(235, 229, 222);
  padding: 0;
  margin: 0;
  text-decoration: none;
}

::placeholder {
  color: rgb(53, 53, 53);
}
